@using WebApp.Models.Classes
@model List<SaleTransaction>
@{
    ViewData["Title"] = "DepartmentStaffSale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        Departman : @ViewBag.Name
    </li>
</ol>

<table class="table table-condensed">
    <tr>
        <td>Satış Id</td>
        <td>Ürün</td>
        <td>Müşteri</td>
        <td>Fiyat</td>
        <td>Adet</td>
        <td>Toplam</td>
        <td>Tarih</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SaleTransactionId</td>
            <td>@item.Product</td>
            <td>@item.CustomerId</td>
            <td>@item.Price</td>
            <td>@item.Amount</td>
            <td>@item.TotalPrice</td>
            <td>@item.Date</td>
        </tr>
    }
</table>

