@using WebApp.Models.Classes
@model List<Staff>
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Detay</h4>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        Departman : @ViewBag.Name
    </li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Fullİsim</th>
        <th>Kullanıcı Adı</th>
        <th>Şifre</th>

        <th>Görsel</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.StaffId</td>
            <td>@item.StaffFullName</td>
            <td>@item.StaffUsername</td>
            <td>@item.StaffPassword</td>
            <td>@item.StaffImage</td>
            <td><a href="/Department/DepartmentStaffSale/@item.StaffId" class="btn btn-info">İşlemler</a></td>
        </tr>
    }
</table>
