@using WebApp.Models.Classes
@model List<TechnicalSupport>
@{
    ViewData["Title"] = "Maintenance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4>Teknik Destek-Bakım</h4>
<style>
    #table td {
        word-wrap: break-word;
        white-space: normal;
        vertical-align: middle;
    }

    #table th {
        vertical-align: middle;
    }
</style>

@if (Model == null)
{
    <p>No products available.</p>
}
else
{
    <table id="table" class="table table-bordered" style="margin-top:20px">
        <thead>
            <tr>
                <th>Müşteri</th>
                <th>Telefon</th>
                <th>Adres</th>
                <th>Ürün</th>
                <th>Model</th>
                <th>İşlem</th>
                <th>Randevu Tarihi</th>

                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.Customer.CustomerName @i.Customer.CustomerSurname</td>
                    <td>@i.Customer.CustomerEmail</td>
                    <td>@i.Customer.CustomerCity</td>
                    <td>@i.Product.ProductName</td>
                    <td>@i.Product.ProductModel</td>
                    <td>@i.TechnicalCategory.TechnicalCategoryName</td>
                    <td>@i.TransactionDate</td>


                    <td><a href="/TechnicalSupport/GetForCompleteMaintenance/@i.TechnicalSupportId" class="btn btn-danger">Tamamla</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Product/NewProduct" class="btn btn-dark">Yeni Ürün</a>
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>


    $('#table').dataTable({});

</script>



