@using WebApp.Models.Classes
@model List<BillItem>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Fatura Kalemleri</h4>
<br />
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Açıklama</th>
        <th>Birim Fiyat</th>
        <th>Miktar</th>
        <th>Toplam Fİyat</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BillItemId</td>
            <td>@item.Description</td>
            <td>@item.UnitPrice</td>
            <td>@item.Amount</td>
            <td>@item.Total</td>
        </tr>
    }
</table>


<a href="/Bill/NewItem" class="btn btn-dark">Yeni Kalem</a>

