@model WebApp.Models.Classes.Bill

@{
    ViewData["Title"] = "NewBill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yeni Fatura Sayfası</h4>

<form class=" form-group" method="post">
    @Html.LabelFor(x => x.BillSequenceNo)
    @Html.TextBoxFor(x => x.BillSequenceNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BillSerialNo)
    @Html.TextBoxFor(x => x.BillSerialNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Hour)
    @Html.TextBoxFor(x => x.Hour, new { @class = "form-control" })
    <br />@Html.LabelFor(x => x.TaxOffice)
    @Html.TextBoxFor(x => x.TaxOffice, new { @class = "form-control" })
    <br />@Html.LabelFor(x => x.Total)
    @Html.TextBoxFor(x => x.Total, new { @class = "form-control" })
    <br />@Html.LabelFor(x => x.Sender)
    @Html.TextBoxFor(x => x.Sender, new { @class = "form-control" })
    <br />@Html.LabelFor(x => x.Receiver)
    @Html.TextBoxFor(x => x.Receiver, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Ekle</button>
</form>
