@using WebApp.Models.Classes
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4>Ürün Listesi</h4>
<style>
    #product td {
        word-wrap: break-word;
        white-space: normal;
        vertical-align: middle;
    }

    #product th {
        vertical-align: middle;
    }
</style>

@if (Model == null)
{
    <p>No products available.</p>
}
else
{
    <table id="product" class="table table-bordered" style="margin-top:20px">
        <thead>
            <tr>
                <th>Id</th>
                <th>İsim</th>
                <th>Marka</th>
                <th>Stok</th>
                <th>Görsel</th>
                <th>Alış Fiyatı</th>
                <th>Satış Fiyatı</th>
                <th>Durum</th>
                <th>Periyot</th>
                <th>Kategori</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.ProductId</td>
                    <td>@i.ProductName</td>
                    <td>@i.Brand</td>
                    <td>@i.Stock</td>
                    <td>@i.ProductModel</td>
                    <td>@i.PurchasePrice</td>
                    <td>@i.SalePrice</td>
                    <td>@i.State</td>
                    <td>@i.MaintenanceIntervalInMonths</td>
                    <td>@(i.Category.CategoryName)</td>
                    <td><a href="/Product/Remove/@i.ProductId" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Product/GetProduct/@i.ProductId" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Product/NewProduct" class="btn btn-dark">Yeni Ürün</a>
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>


    $('#product').dataTable({});

</script>