@model WebApp.Models.Classes.SaleTransaction

@{
    ViewData["Title"] = "Yeni Satış Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yeni Satış Sayfası</h4>
@using (Html.BeginForm("NewSale", "SaleTransaction", FormMethod.Post))
{
    @Html.Label("Ürün")
    @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.valueFP, new { @class = "form-control" })
    <br />
    @Html.Label("Müşteri")
    @Html.DropDownListFor(x => x.CustomerId, (List<SelectListItem>)ViewBag.valueFC, new { @class = "form-control" })
    <br />
    @Html.Label("Satış Sorumlusu")
    @Html.DropDownListFor(x => x.StaffId, (List<SelectListItem>)ViewBag.valueFS, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Price)
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.StockAmount)
    @Html.TextBoxFor(x => x.StockAmount, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TotalPrice)
    @Html.TextBoxFor(x => x.TotalPrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.InstallationDate, "Rezervasyon Tarihi ve Saati")
    @Html.TextBoxFor(x => x.InstallationDate, new { @class = "form-control", @type = "datetime-local" })
    <br />
  @*   <div class="form-group">
        @Html.LabelFor(x => x.Method, "Ödeme Yöntemi")
        @Html.DropDownListFor(x => x.Method, Html.GetEnumSelectList<WebApp.Models.Classes.SaleTransaction.PaymentMethod>(), new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.DownPayment, "Peşinat")
        @Html.TextBoxFor(x => x.DownPayment, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.InstallmentMonths, "Taksit (Kaç Aya Bölünsün?)")
        @Html.TextBoxFor(x => x.InstallmentMonths, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.InstallmentPeriod, "Taksit Dönemi (Taksitler Kaç Ay Ara ile Olsun?)")
        @Html.TextBoxFor(x => x.InstallmentPeriod, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.FirstInstallmentDate, "İlk Taksit Tarihi")
        @Html.TextBoxFor(x => x.FirstInstallmentDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
    </div>
 *@
    <button class="btn btn-outline-primary">Satış Yap</button>
   
@* 
@if (Model.Method == WebApp.Models.Classes.SaleTransaction.PaymentMethod.Installment && Model.InstallmentDetails != null && Model.InstallmentDetails.Any())
{
    <h3>Taksit Tarihleri ve Tutarları</h3>
    <ul>
        @foreach (var detail in Model.InstallmentDetails)
        {
            <li>
                @detail.InstallmentDate.ToShortDateString() - @detail.InstallmentAmount @if (detail.IsPaid)
                {
                    <strong>(Ödendi)</strong>
                }
                else
                {
                    <strong>(Ödenmedi)</strong>
                }
            </li>
        }
    </ul> *@
}
