@model WebApp.Models.Classes.SaleTransaction

@{
    ViewData["Title"] = "Yeni Satış Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4>Yeni Satış Sayfası</h4>
@using (Html.BeginForm("NewSale", "SaleTransaction", FormMethod.Post))
{
    @Html.Label("Ürün")
    @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.valueFP, new { @class = "form-control" })
    <br />
    @Html.Label("Müşteri")
    @Html.DropDownListFor(x => x.CustomerId, (List<SelectListItem>)ViewBag.valueFC, new { @class = "form-control" })
    <br />
    @Html.Label("Satış Sorumlusu")
    @Html.DropDownListFor(x => x.StaffId, (List<SelectListItem>)ViewBag.valueFS, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Price)
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.StockAmount)
    @Html.TextBoxFor(x => x.StockAmount, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TotalPrice)
    @Html.TextBoxFor(x => x.TotalPrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.InstallationDate, "Rezervasyon Tarihi ve Saati")
    @Html.TextBoxFor(x => x.InstallationDate, "{0:yyyy-MM-ddTHH:mm}", new { @class = "form-control", @type = "datetime-local" })
    <br />


    @Html.Label("Ödeme Yöntemi")
    @Html.DropDownListFor(x => x.Payment.PaymentCategoryId, (List<SelectListItem>)ViewBag.valuePM, new { @class = "form-control" })

    <br />


    @Html.LabelFor(x => x.Payment.DownPayment, "Peşinat (Sadece Taksit Seçildiğinde)")
    @Html.TextBoxFor(x => x.Payment.DownPayment, new { @class = "form-control" })
    <br />
    @Html.Label("Peşinatın Ödeme Türü(Sadece Taksit Seçildiğinde)")
    @Html.DropDownListFor(x => x.Payment.PaymentTypeForDownPayment, (List<SelectListItem>)ViewBag.valuePD, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Payment.InstallmentCount, "Taksit Sayısı(Sadece Taksit Seçildiğinde)")
    @Html.TextBoxFor(x => x.Payment.InstallmentCount, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Payment.InstallmentPeriodMonths, "Taksit Dönemi (Taksitler Kaç Ayda Bir Ödenecek)(Sadece Taksit Seçildiğinde)")
    @Html.TextBoxFor(x => x.Payment.InstallmentPeriodMonths, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Payment.FirstInstallmentDate, "İlk Taksit Tarihi(Sadece Taksit Seçildiğinde)")
    @Html.TextBoxFor(x => x.Payment.FirstInstallmentDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })


    <button type="submit" class="btn btn-outline-primary">Satış Yap</button>
}

