@using WebApp.Models.Classes
@model List<SaleTransaction>

@{
    ViewData["Title"] = "PaymentDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Ödeme Detayı</h4>
<br />
<table class="table table-hover">
    <tr>

        <th>Toplam Tutar</th>
        <th>Ödenen Tutar</th>
        <th>Ödeme Türü</th>
        <th>Tarih</th>



    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Payment.TotalPrice</td>
            <td>@item.Payment.PaidPrice</td>
            <td>@item.Payment.PaymentCategory.PaymentCategoryName</td>
            <td>@item.Payment.PaymentDate</td>


            @if (@item.Payment.PaymentCategory.PaymentCategoryName == "Installment")
            {
                <td><a href="/SaleTransaction/InstallmentDetails/@item.Payment.PaymentId" class="btn btn-light">Taksit Detayı</a></td>
            }

        </tr>
    }
</table>


