
@model WebApp.Models.Classes.CargoDetail


@{
    ViewData["Title"] = "NewCargo";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div style="margin-left:25px; margin-top:25px; margin-right:25px">
    <h4>Yeni Kargo Sayfası</h4>

    <form class=" form-group" method="post">
        @Html.LabelFor(x => x.TrackingCode)
        <input type="text" value="@ViewBag.TrackingCode" class="form-control" name="TrackingCode" readonly />
        <br />
        @Html.LabelFor(x => x.Staff)
        @Html.TextBoxFor(x => x.Staff, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Owner)
        @Html.TextBoxFor(x => x.Owner, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Description)
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Date)
        <input class="form-control" type="date" name="Date" />
        <br />

        <button class="btn btn-outline-primary">Ekle</button>
    </form>


</div>

